<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <h2 class="card-title"> <img src="favicon.ico" alt=""> <> Socket Client</h2>

          <div class="form-group">
            <label for="">Meensaje a Enviar al Sevidor</label>
            <input type="text" name="menssage" (keyup.enter)="emmitMessage( message.value )" #message id="" class="form-control" placeholder="Mensaje para el Servidor">
          </div>

          <div class="form-group">
            <label for="">Mensaje del Servidor: </label>
            <div>{{ messagePsalguero | json }}</div>
          </div>
          

        </div>
      </div>


    </div>
  </div>
</div>